@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Lato:wght@300;400&family=Raleway:wght@500;700&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

// font-family: 'IBM Plex Mono', monospace;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Raleway', sans-serif;

:root {
  --color-primary: #b57bff;
  --color-secondary: #4834d4;
  --theme-black: #131313;
  --theme-white: #fefefe;
  --theme-purple: #cd84f1;
  --theme-pink: #ffcccc;
  --theme-red: #ff4d4d;
  --theme-orange: #ffaf40;
  --font-mono: 'IBM Plex Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', 'monospace';
  --font-body: 'Lato', 'system-ui', '-apple-system', 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display: 'Raleway', 'system-ui', '-apple-system', 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-body);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--theme-white);
  color: var(--theme-black);
  margin: 0;
  padding: 0;
}
// a {
//   color: inherit;
//   text-decoration: none;
//   border-bottom: 1.5px solid transparent;
//   padding-bottom: 0.25rem;
//   transition: border 0.15s ease;
//   &:hover {
//     border-bottom: 1.5px solid currentColor;
//   }
// }

.link-bounce {
  @apply transition-all duration-500 ease-in-out border-none;
  &:hover {
    @apply transform scale-150 -translate-y-2 border-none;
  }
}

.link-bounce-footer {
  @apply transition-all duration-500 ease-out border-none;
  &:hover {
    @apply transform scale-110 -translate-y-2 border-none;
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

.button-black-to-gradient {
  @apply font-display shadow-solid-primary border-2 py-6 px-4 bg-gradient-to-r;
  &:hover {
    @apply from-theme-red via-primary to-secondary text-black border-black;
  }
}

.button-black-to-white {
  @apply font-display shadow-solid-primary py-6 px-4 border-2 border-black bg-gradient-to-r from-gray-900 to-black;
  &:hover {
    @apply from-white to-gray-100 text-black border-black;
  }
}

.clip-path-purple {
  -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  background: var(--theme-purple);
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.clip-path-black {
  -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  background: var(--theme-black);
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
